@charset "UTF-8";
*{
    margin: 0;
    padding: 0;   
    font-family: 'Rubik', sans-serif;
}
/*Corpo */
body{
    background-image: linear-gradient(45deg, #7700b8, rgb(255, 136, 1));
}


/*Cabeçalho*/
header{
    padding: 25px;
    background-color: #596847;
}
header h1{
    /*color: #382c1f;*/
    color: #d3d3d3;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
}
header p{
    color: #b8b8b8;;
    text-align: center;
}

/*Manu*/

nav{
    background-color: #838E73;
    padding: 12px;
    margin-bottom: 40px;
}
nav a{
    
    padding-inline: 7px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    text-align: center;
    transition-duration: 700ms;
    padding-right: 7px;
}

nav a:hover{
    transition-duration: 700ms;
    color: #4b361f;
    

}

/*Texto Principal(conteudo)*/
main{
    height: 100%;

}
article{
    text-align: center;
    background-color: rgba(245, 245, 220, 0.742);
    width: 75%;
    margin: auto;
    border-radius: 30px;
    padding-bottom: 20px;
}
article h2{
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;

}
article p {
    max-width: 80%;
    text-align: justify ;
    padding: 15px;
    margin: auto;
}

article img{
    padding-top: 25px;
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

ul{
    text-align: justify;
    margin-left: 20%;
}

/*Rodapé*/
footer{
    margin-top: 50px;
    background-color: #241c14;
    bottom: 0;
    width: 100%;
    height: 3rem;  
}
footer p {
    color: #eef8e2;
    text-align: center;
    padding-top: 8px;
}
